<template lang='pug'>
TableTitle
  template(v-slot:title)
    p {{ `類別清單` }}
  template(v-slot:title-button)
    v-btn.mr-4(
      @click="creatCategory()",
      color="primary",
      elevation="1",
      outlined,
      prepend-icon="mdi-plus"
    ) {{ `新增類別` }}
    v-btn(
      @click="sortData()",
      color="btn-sort-1",
      prepend-icon="mdi-sort",
      elevation="1",
      outlined
    ) {{ `類別排序` }}
TableBody
  template(v-slot:table-body)
    //- v-data-table(
    //-   v-model:page="page",
    //-   :headers="modelCategoryIndex.headers",
    //-   :items="desserts",
    //-   :items-per-page="itemsPerPage",
    //-   @update:options="loadItems"
    //- )
//- .pa-4.overflow-auto
//-   .button-container
//-     v-btn.mb-4(
//-       @click="creatCategory()",
//-       color="primary",
//-       elevation="1",
//-       outlined
//-     ) 新增類別
//-     v-btn.ml-4.mb-4(
//-       @click="sortData()",
//-       color="brown-darken-1",
//-       elevation="1",
//-       outlined
//-     ) 類別排序
//-   //可刪除的分類
//-   v-card
//-     v-card-title.cardTitle 類別清單
//-     v-list.pa-2(@drop="onDrop($event, destinationIndex)", @dragover.prevent)
//-       v-list-item(
//-         v-for="(category, index) in categories",
//-         :key="index",
//-         @dragstart="startDrag($event, category)",
//-         @dragenter="dragEnter($event, index)"
//-       )
//-         v-row(align="center", :draggable="isSortable")
//-           v-col.v-col-1.d-flex.justify-center
//-             v-icon(size="large", v-show="isSortable") mdi-drag-vertical
//-           v-col.v-col-3.d-flex.justify-center
//-             v-img(
//-               :src="category.thumbnail",
//-               alt="預覽圖片",
//-               width="192",
//-               height="108"
//-             )
//-           v-col.v-col-1.d-flex.justify-center
//-             v-chip(:color="category.status === 1 ? 'success' : 'error'") {{ category.status === 1 ? "上架" : "下架" }}
//-           v-col.v-col-4
//-             v-list-item-title {{ category.content?.zh_cht || category.content?.en }}
//-           v-col.v-col-3.d-flex.justify-center
//-             v-list-item-action
//-               v-btn.mr-4(
//-                 color="teal lighten-1",
//-                 @click="editCategory(category.id)"
//-               ) 編輯
//-               v-btn(color="red", @click="deleteCategory(category.id)") 刪除
</template>

<script setup lang='ts'>
import { ref, onMounted } from "vue";
//router
import { useRouter } from "vue-router";
const router = useRouter();
//api
import { getCategories } from "../../../../api/category.js";
// import modelCategoryIndex from "../../../../data/modelCategoryIndex.json";
import headerIndex from "../../../../data/headerIndex.json";

import { useDragDrop } from "../../../../func/dragAndSort";
//
import TableTitle from "../../../../slot/template/TableTitle.vue";
import TableBody from "../../../../slot/template/TableBody.vue";

const categories = ref([]);
const isSortable = ref(false);
const { startDrag, onDrop, dragEnter } = useDragDrop(categories);

const page = ref(1);
// const itemsPerPage = ref(2);
//編輯功能
// const editCategory = (id: number) => {
//   router.push(`/admin/${project.value}/category/edit/${id}`);
// };

//刪除功能
const deleteCategory = async (id: number) => {
  try {
    console.log("你的刪除功能還沒寫呦！", id);
  } catch (error) {
    console.log(error);
  }
};

//前往新增頁面
// const creatCategory = () => {
//   router.push(`/admin/${project.value}/category/create`);
// };

//排序功能
const sortData = async () => {
  if (isSortable.value) {
    let sortOrder = (categories.value as { id: number }[]).map(
      (data) => data.id
    );
    try {
      console.log("call api with data:" + sortOrder);
    } catch (error) {
      // console.log('sortMarketing: ', error.response || error)
    }
    isSortable.value = false;
  } else {
    isSortable.value = true;
  }
};

onMounted(async () => {
  try {
    const res = await getCategories();
    categories.value = res.data.data;
    console.log(categories.value);
  } catch (error) {
    console.log(error);
  }
});
</script>

<style lang='sass' scoped>
</style>