<template lang='pug'>
TableTitle
  template(v-slot:title)
    p {{ `上傳檔案` }}
TableBody
  template(v-slot:table-body)
    .table_content
      v-container.file_card
        v-card(elevation="4", color="#ffffff")
          .pl-2.pr-4.pt-6
            v-file-input(
              variant="outlined",
              density="compact",
              show-size,
              label="檔案",
              color="primary"
            )
            .hintText.d-flex.flex-column
              h4.mb-4.pl-4 上傳檔案限制
              .d-flex
                .flex-1-0.pl-4
                  p.text-subtitle-2 圖片格式：jpg
                  p.text-subtitle-2 建議尺寸：2448x1560
                  p.text-subtitle-2 檔案大小上限：15MB
                .flex-1-0
                  p.text-subtitle-2 影片格式：mp4
                  p.text-subtitle-2 建議尺寸：2448x1560
                  p.text-subtitle-2 檔案大小上限：1GB
      v-container.preview_card
        v-card(elevation="4")
          CardTitle
            template(v-slot:title)
              p {{ `畫面預覽` }}
          v-divider.divider
          .image_container.h-100
            .mb-2.hintText File Name:

            v-img(
              lazy-src="https://picsum.photos/id/11/2448/1560",
              src="https://picsum.photos/id/11/2448/1560",
              alt="預覽圖片",
              cover,
              @load="onloadImg",
              max-height="320"
            )
            v-img.default_img.w-100(
              lazy-src="/images/Africa.svg",
              src="/images/Africa.svg",
              v-if="isDefault",
              cover,
              height="320",
              max-height="320"
            )

  template(v-slot:pagination)
    v-container
      v-btn(color="primary", variant="flat") 上傳
</template>

<script setup lang='ts'>
import { ref } from "vue";

import TableTitle from "../../../slot/template/TableTitle.vue";
import CardTitle from "../../../slot/template/CardTitle.vue";
import TableBody from "../../../slot/template/TableBody.vue";

let count = ref<number>(0);
let isDefault = ref<boolean>(true);

const onloadImg = async () => {
  console.log("onloadImg::");
  count.value = count.value + 1;
  if (count.value === 1) {
    isDefault.value = false;
  }
};
</script>

<style lang='sass' scoped>
.hintText
  color: #6c757d
.table_content
  // border: 3px solid red
  display: grid
  grid-template-columns: repeat(2,1fr)
  .v-container
    width: 100%
    // border: 1px solid green
.divider
  width: 95%
  margin: 0 auto
.image_container
  background-color: #ffffff
  padding: 10px
  border-radius: 0 0 8px 8px
.table_content
  .v-card
    height: 100%
    transition: all 3s
</style>