<template lang='pug'>
TableTitle
  template(v-slot:title)
    p {{ `新增專案` }}
TableBody
  template(v-slot:table-body)
    form
      .card_container
        .form_data_wrapper.pb-8
          v-text-field(
            label="Project Name",
            model-value="John Leider",
            variant="outlined",
            error-messages="error message here"
          )
        v-card.model_card(elevation="4")
          TableTitle
            template(v-slot:title)
              p {{ `Add Model` }}
            template(v-slot:title-button)
              v-btn(
                color="primary",
                text,
                prepend-icon="mdi-plus",
                @click="creatCategory()"
              ) {{ `add 3D model` }}
          TableBody
            template(v-slot:table-body)
              v-container.model_content
                v-card.add_card.px-4.py-3(
                  elevation="4",
                  v-for="item in 6",
                  :key="item",
                  color="background"
                )
                  v-switch.my-border(
                    v-model="model",
                    :label="`Publish: ${model}`",
                    false-value="no",
                    true-value="yes",
                    hide-details
                  )
                  v-text-field(
                    label="Project Name",
                    model-value="John Leider",
                    variant="outlined",
                    hide-details
                  )
                  v-file-input(
                    label="File input",
                    prepend-icon="mdi-image-check-outline",
                    variant="outlined",
                    hide-details
                  )
                  v-file-input(
                    label="File input",
                    prepend-icon="mdi-printer-3d",
                    variant="outlined",
                    hide-details
                  )
                  v-btn(icon="mdi-trash-can-outline", color="btn-delete")
  template(v-slot:pagination)
    v-container
      v-btn.mr-4(prepend-icon="mdi-content-save-outline", color="primary") {{ `Save` }}
      v-btn(
        prepend-icon="mdi-backup-restore",
        color="btn-back-1",
        to="/admin/model/model-category"
      ) {{ `Back` }}
</template>

<script setup lang='ts'>
import { ref, onMounted } from "vue";
import modelCategoryIndex from "../../../../data/modelCategoryIndex.json";
import { useRouter } from "vue-router";
import TableTitle from "../../../../slot/template/TableTitle.vue";
import TableBody from "../../../../slot/template/TableBody.vue";

const model = ref(true);
const items = ref([
  {
    title: "3D Model",
    disabled: false,
    href: "breadcrumbs_dashboard",
  },
]);
</script>

<style lang='sass' scoped>
.v-card-title
  background-color: #BDBDBD
.tableContent
  display: flex
  justify-content: center
  column-gap: 10px
.model_card
  // box-shadow: none
.card_container
  padding: 30px 16px 16px
.form_data_wrapper
  width: calc(50% - 20px)
.model_content
  display: grid
  grid-template-columns: repeat(1,1fr)
  // column-gap: 15px
  row-gap: 22px
  width: 100%
  max-width: initial

.add_card
  width: 100%
  display: grid
  grid-template-areas: "switch" "name" "file1" "file2" "delete"
  grid-template-columns: 150px 1fr 1fr 1fr 50px
  column-gap: 15px
  height: 100%
.v-btn--icon.v-btn--density-default
  --v-btn-height: 28px
</style>
  