<template lang='pug'>
TableTitle
  template(v-slot:title)
    p {{ `專案列表` }}
  template(v-slot:title-button)
    v-btn(
      prepend-icon="mdi-plus",
      color="primary",
      text,
      @click="creatCategory()"
    ) {{ `新增專案` }}
TableBody
  template(v-slot:table-body)
    v-data-table(
      v-model:page="page",
      :headers="headerIndex.headersModel",
      :items="desserts",
      :items-length="totalItems",
      :loading="loading",
      :items-per-page="itemsPerPage",
      @update:options="loadItems"
    )
      template(v-slot:loading)
        v-skeleton-loader(type="table-row@2")
      template(v-slot:[`item.setting`]="{ item }")
        tr.tableContent
          td.tableContent
            v-btn.model_list_btn(prepend-icon="mdi-pen", color="primary") {{ `Edit` }}
            v-btn.model_list_btn(
              prepend-icon="mdi-rotate-3d",
              color="btn-edit-2"
            ) {{ `Edit Model` }}
            v-btn.model_list_btn(prepend-icon="mdi-group", color="btn-edit-1") {{ `Edit Group` }}
            v-btn.model_list_btn(
              prepend-icon="mdi-delete-empty-outline",
              color="btn-delete"
            ) {{ `Delete` }}
      template(#bottom)
  template(v-slot:pagination)
    .text-center.pt-2
      v-pagination(v-model="page", :length="pageCount")
</template>

<script setup lang='ts'>
import { ref, onMounted, computed } from "vue";
import headerIndex from "../../../../data/headerIndex.json";
import TableTitle from "../../../../slot/template/TableTitle.vue";
import TableBody from "../../../../slot/template/TableBody.vue";
import { useRouter } from "vue-router";

const router = useRouter();

const page = ref<number>(1);
const itemsPerPage = ref(2);
const serverItems = ref<Array<Object>>([]);
const totalItems = ref<number>(10);
const loading = ref<boolean>(false);

const pageCount = computed(() => {
  return Math.ceil(desserts.value.length / itemsPerPage.value);
});

//前往新增頁面
const creatCategory = () => {
  router.push(`/admin/model/model-category/create`);
};

const desserts = ref([
  {
    name: "英業達",
    models: 1,
    group: 1,
    created: "24-05-13 17:34",
    edited: "24-05-13 17:35",
  },

  {
    name: "Frozen Yogurt",
    models: 159,
    group: 6.0,
    created: 24,
    edited: 4.0,
  },

  {
    name: "Frozen Yogurt",
    models: 159,
    group: 6.0,
    created: 24,
    edited: 4.0,
  },
  {
    name: "Frozen Yogurt",
    models: 159,
    group: 6.0,
    created: 24,
    edited: 4.0,
  },
]);
interface LoadItemsParams {
  page: number;
  itemsPerPage: number;
  sortBy: Array<{ key: string; order: string }>;
}

type Dessert = {
  name: string;
  models: number;
  group: number;
  created: string | number;
  edited: string | number;
  [key: string]: string | number;
};
const FakeAPI = {
  async fetch({ page, itemsPerPage, sortBy }: LoadItemsParams) {
    return new Promise((resolve) => {
      setTimeout(() => {
        const start = (page - 1) * itemsPerPage;
        const end = start + itemsPerPage;
        const items = desserts.value.slice();

        if (sortBy.length) {
          const sortKey = sortBy[0].key;
          const sortOrder = sortBy[0].order;
          console.log("sortBy::", sortBy, items);
          items.sort((a: Dessert, b: Dessert) => {
            const aValue = a[sortKey];
            const bValue = b[sortKey];
            return sortOrder === "desc"
              ? Number(bValue) - Number(aValue)
              : Number(aValue) - Number(bValue);
          });
        }
        const paginated = items.slice(start, end);
        console.log("paginated::", paginated, items.length);
        resolve({ items: paginated, total: items.length });
      }, 500);
    });
  },
};
interface IResponse {
  items: Array<object>;
  total: number;
}

const loadItems = ({ page, itemsPerPage, sortBy }: LoadItemsParams) => {
  console.log("loading data::", page, itemsPerPage, sortBy);
  loading.value = true;
  FakeAPI.fetch({ page, itemsPerPage, sortBy }).then((response: unknown) => {
    const { items, total } = response as IResponse;
    serverItems.value = items;
    totalItems.value = total;
    loading.value = false;
  });
};
</script>

<style lang='sass' scoped>
.v-card-title
  background-color: #BDBDBD
.tableContent
  display: flex
  justify-content: center
  column-gap: 10px

.model_list_btn
  font-size: 12px
  padding: 0 14px
  height: 31px
</style>
  