<template lang='pug'>
TableTitle
  template(v-slot:title)
    p {{ `內容清單` }}
  template(v-slot:title-button)
    v-btn(@click="createPost()", color="primary", elevation="1", outlined) 新增內容
TableBody
  template(v-slot:table-body)
    v-data-table(
      v-model:page="page",
      :headers="headerIndex.headersPost",
      :items="desserts",
      :items-length="totalItems",
      :loading="loading",
      :items-per-page="itemsPerPage",
      @update:options="loadItems"
    )
      template(v-slot:loading)
        v-skeleton-loader(type="table-row@2")
      template(v-slot:[`item.imagePreview`]="{ item }")
        v-col
          v-img(
            :src="item.imagePreview",
            alt="預覽圖片",
            width="192",
            height="108"
          )
      template(v-slot:[`item.status`]="{ item }")
        v-chip.ma-2(:color="item.status === 1 ? `tag-1` : `tag-2`", label)
          v-icon(
            :icon="item.status === 1 ? `mdi-arrow-up-bold-box-outline` : `mdi-arrow-down-bold-box-outline`",
            start
          )
          | {{ item.status === 1 ? "上架" : "下架" }}
      template(v-slot:[`item.setting`]="{ item }")
        tr.tableContent
          td.tableContent
            v-btn.model_list_btn(prepend-icon="mdi-pen", color="primary") {{ `Edit` }}
            v-btn.model_list_btn(
              prepend-icon="mdi-delete-empty-outline",
              color="btn-delete"
            ) {{ `Delete` }}
      template(#bottom)
  template(v-slot:pagination)
    .text-center.pt-2
      v-pagination(v-model="page", :length="pageCount")
//- .pa-4.overflow-auto
//-   .button-container
//-     v-btn.mb-4(@click="createPost()", color="primary", elevation="1", outlined) 新增內容
//-   //內容清單
//-   v-card
//-     v-card-title.cardTitle 內容清單
//-     v-list.pa-2
//-       v-list-item(v-for="(post, index) in posts", :key="index")
//-         v-row(align="center")
//-           v-col.v-col-3.d-flex.justify-center
//-             v-img(:src="post.thumbnail", alt="預覽圖片", width="192", height="108")
//-           v-col.v-col-1.d-flex.justify-center
//-             v-chip(:color="post.status === 1 ? 'success' : 'error'") {{ post.status === 1 ? "上架" : "下架" }}
//-           v-col.v-col-4
//-             v-list-item-title {{ post.content?.zh_cht || post.content?.en }}
//-           v-col.v-col-1.d-flex.justify-center
//-             span(v-if="project === 'theater'") 2d／3d
//-             span(v-if="project === 'screen'") 左／右
//-           v-col.v-col-3.d-flex.justify-center
//-             v-list-item-action
//-               v-btn.mr-4(color="teal lighten-1", @click="editPost(post.id)") 編輯
//-               v-btn(color="red", @click="deletePost(post.id)") 刪除
</template>

<script setup lang='ts'>
import TableTitle from "../../../../slot/template/TableTitle.vue";
import TableBody from "../../../../slot/template/TableBody.vue";
import headerIndex from "../../../../data/headerIndex.json";
import { ref, computed } from "vue";
//router
import { useRouter } from "vue-router";
const router = useRouter();

const page = ref<number>(1);
const totalItems = ref<number>(10);
const loading = ref<boolean>(false);
const itemsPerPage = ref(2);
const serverItems = ref<Array<Object>>([]);
const pageCount = computed(() => {
  return Math.ceil(desserts.value.length / itemsPerPage.value);
});
const desserts = ref([
  {
    name: "test2",
    imagePreview: "https://picsum.photos/600/300",
    status: 1,
    created: "24-05-13 17:34",
    edited: "24-05-13 17:35",
  },
  {
    name: "test",
    imagePreview: "https://picsum.photos/600/300",
    status: 0,
    created: "24-05-13 17:34",
    edited: "24-05-13 17:35",
  },

  // {
  //   name: "Frozen Yogurt",
  //   models: 159,
  //   group: 6.0,
  //   created: 24,
  //   edited: 4.0,
  // },
  // {
  //   name: "Frozen Yogurt",
  //   models: 159,
  //   group: 6.0,
  //   created: 24,
  //   edited: 4.0,
  // },
]);
interface LoadItemsParams {
  page: number;
  itemsPerPage: number;
  sortBy: Array<{ key: string; order: string }>;
}
type Dessert = {
  imagePreview: string;
  name: number;
  status: number;
  created: string | number;
  edited: string | number;
  [key: string]: string | number;
};

const FakeAPI = {
  async fetch({ page, itemsPerPage, sortBy }: LoadItemsParams) {
    return new Promise((resolve) => {
      setTimeout(() => {
        const start = (page - 1) * itemsPerPage;
        const end = start + itemsPerPage;
        const items = desserts.value.slice();

        if (sortBy.length) {
          const sortKey = sortBy[0].key;
          const sortOrder = sortBy[0].order;
          console.log("sortBy::", sortBy, items);
          items.sort((a: Dessert, b: Dessert) => {
            const aValue = a[sortKey];
            const bValue = b[sortKey];
            return sortOrder === "desc"
              ? Number(bValue) - Number(aValue)
              : Number(aValue) - Number(bValue);
          });
        }
        const paginated = items.slice(start, end);
        console.log("paginated::", paginated, items.length);
        resolve({ items: paginated, total: items.length });
      }, 500);
    });
  },
};
interface IResponse {
  items: Array<object>;
  total: number;
}

const loadItems = ({ page, itemsPerPage, sortBy }: LoadItemsParams) => {
  console.log("loading data::", page, itemsPerPage, sortBy);
  loading.value = true;
  FakeAPI.fetch({ page, itemsPerPage, sortBy }).then((response: unknown) => {
    const { items, total } = response as IResponse;
    serverItems.value = items;
    totalItems.value = total;
    loading.value = false;
  });
};
//取得route的中文名稱
// import { getProjectTitle } from "@/func/getTitleByRoute.ts";
// import { getProjectTitle } from "../../../../func/getTitleByRoute";
// const { project, title } = getProjectTitle();

// const editPost = (id: number) => {
//   router.push(`/admin/${project.value}/post/edit/${id}`);
// };

const deletePost = async (id: number) => {
  try {
    console.log("你的刪除功能還沒寫呦！", id);
  } catch (error) {
    console.log(error);
  }
};

// const createPost = () => {
//   router.push(`/admin/${project.value}/post/create`);
// };

//dummy data
// const posts = [
//   {
//     id: 1,
//     thumbnail: "https://picsum.photos/600/300",
//     status: 1,
//     content: {
//       zh_cht: "中文標題",
//       en: "English Title",
//     },
//   },
//   {
//     id: 2,
//     thumbnail: "https://picsum.photos/600/300",
//     status: 0,
//     content: {
//       zh_cht: "中文標題",
//       en: "English Title",
//     },
//   },
//   {
//     id: 3,
//     thumbnail: "https://picsum.photos/600/300",
//     status: 1,
//     content: {
//       zh_cht: "中文標題",
//       en: "English Title",
//     },
//   },
//   {
//     id: 4,
//     thumbnail: "https://picsum.photos/600/300",
//     status: 0,
//     content: {
//       zh_cht: "中文標題",
//       en: "English Title",
//     },
//   },
// ];
</script>

<style lang='sass' scoped>
// .v-card
//   min-width: 930px
//   max-width: 1200px
// .cardTitle
//   background-color: #0D47A1
//   color: white
// .v-list-item
//   border-radius: 2px
//   background-color: #f8f9fa
//   border-left: 2px solid #e9ecef
//   color: #495057
//   margin-bottom: 2px
//   padding: 10px
//   .v-img
//     object-fit: cover

.v-card-title
  background-color: #BDBDBD
.tableContent
  display: flex
  justify-content: center
  column-gap: 10px

.model_list_btn
  font-size: 12px
  padding: 0 14px
  height: 31px
</style>