<template lang='pug'>
TableTitle
  template(v-slot:title)
    p {{ `類別清單` }}
  template(v-slot:title-button)
    v-btn.mr-4(
      color="primary",
      prepend-icon="mdi-plus",
      elevation="1",
      outlined,
      @click="creatCategory()"
    ) {{ `新增類別` }}
    v-btn(
      color="btn-sort-1",
      prepend-icon="mdi-sort",
      elevation="1",
      outlined,
      @click="sortData()"
    ) {{ `類別排序` }}
TableBody
  template(v-slot:table-body)
    TableContent
  template(v-slot:pagination)
    .text-center.pt-2
      v-pagination(v-model="page", :length="pageCount")
</template>

<script setup lang='ts'>
//composition api
import { ref, onMounted, computed, provide } from "vue";
//vue template
import TableTitle from "../../../../../slot/template/TableTitle.vue";
import TableBody from "../../../../../slot/template/TableBody.vue";
//json Data
import cider from "../../../../../data/cider.json";

const page = ref<number>(1);
const itemsPerPage = ref(7);

const pageCount = computed(() => {
  return Math.ceil(cider.desserts.length / itemsPerPage.value);
});

provide("desserts", cider.desserts);
provide("page", page);

onMounted(async () => {});
</script>
<style lang='sass' scoped>
</style>